:root {
	/* Dark */
	--dark-900: #0a0a0a;
	--dark-800: #121212;
	--dark-850: #171719;
	--dark-700: #1c1c1e;
	--dark-600: #2c2c2e;
	/* Gray */
	--gray-400: #3a3a3c;
	--gray-300: #8e8e93;
	--gray-200: #b0b0b0;
	--gray-100: #f2f2f2;
	/* Colors */
	--error-500: #ff453a;
	--success-500: #32d74b;
	--info-500: #0a84ff;
	/* Accent */
	--accent-550: #F9D01F;
	--accent-500: #ffdd21;
}

:root {
	/* Accent color */
	--accent-primary: var(--accent-500);
	--accent-secondary: var(--accent-550);
	/* Backgrounds */
	--bg-primary: var(--dark-900);
	--bg-secondary: var(--dark-800);
	--bg-tertiary: var(--dark-700);
	--bg-quaternary: var(--dark-600);
	/* Text colors */
	--text-primary: var(--gray-100);
	--text-secondary: var(--gray-200);
	/* Shadows */
	--shadow-primary: 0px 8px 24px rgba(0, 0, 0, 0.25);
}

:root[data-theme="dark"] {
	/* Accent color */
	--accent-primary: var(--accent-500);
	--accent-secondary: var(--accent-550);
	/* Backgrounds */
	--bg-primary: var(--dark-900);
	--bg-secondary: var(--dark-800);
	--bg-tertiary: var(--dark-700);
	--bg-quaternary: var(--dark-600);
	/* Text colors */
	--text-primary: var(--gray-100);
	--text-secondary: var(--gray-200);
	/* Shadows */
	--shadow-primary: 0px 8px 24px rgba(0, 0, 0, 0.25);
}

@theme {
	/* Accent color */
	--color-accent-primary: var(--accent-primary);
	--color-accent-secondary: var(--accent-secondary);
	/* Backgrounds */
	--color-bg-primary: var(--bg-primary);
	--color-bg-secondary: var(--bg-secondary);
	--color-bg-tertiary: var(--bg-tertiary);
	--color-bg-quaternary: var(--bg-quaternary);
	/* Text colors */
	--color-text-primary: var(--text-primary);
	--color-text-secondary: var(--text-secondary);
	/* Shadows */
	--shadow-primary: var(--shadow-primary);
	/* Fonts */
	--default-font-family: "Inter";
}
