:root {
	/* Background */
	--bg-primary: #212129;
	--bg-secondary: #323949;
	--bg-tertiary: #40445a;
	--bg-quaternary: #4c5265;
	/* Colors */
	--color-primary: #ffdd21;
	/* Text */
	--text-primary: #fff;
}

:root[data-theme="dark"] {
	/* Background */
	--bg-primary: #212129;
	--bg-secondary: #323949;
	--bg-tertiary: #40445a;
	--bg-quaternary: #4c5265;
	/* Colors */
	--color-primary: #ffdd21;
	/* Text */
	--text-primary: #fff;
}

@theme {
	--color-bg-primary: var(--bg-primary);
	--color-bg-secondary: var(--bg-secondary);
	--color-bg-tertiary: var(--bg-tertiary);
	--color-bg-quaternary: var(--bg-quaternary);
	--color-text-primary: var(--text-primary);
	--color-primary: var(--color-primary);
	/* Font */
	--default-font-family: "Inter", sans-serif;
}
